@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto';
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 10px;
    border: 0px;
}

.header, .footer {
    height: 75px;
    border-radius: 20px;
}

.header, .footer, .projects, .cards, .project-line {
    box-shadow: 5px 5px 5px lightgrey;
}

.header {
    background-color:cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.footer {
    height: 40px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "projects cards";
    gap: 10px;
}

.projects, .cards {
    grid-area: projects;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.cards {
    grid-area: cards;
}

.project-line {
    font-size: 1rem;
    background-color: aliceblue;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    justify-content: space-between;
}

.todo-line {
    background-color: lightblue;
}

.project-line:hover {
    background-color: white;
}

.todo-line:hover {
    background-color: lightgray;
}

.selected {
    background-color: lightgray;
}

.cards {
    background-color: aliceblue;
    border-radius: 20px;
}